- name: Decode logo and save
  run: |
    echo "${{ github.event.client_payload.logoBase64 }}" | base64 --decode > app_icon.png

- name: Clone Android template
  run: git clone https://github.com/your-android-template.git android-app

- name: Inject dynamic package name
  run: |
    PACKAGE_NAME="com.userbuild.$(echo "${{ github.event.client_payload.appName }}" | tr '[:upper:]' '[:lower:]' | tr -d ' ').$(date +%s)"
    sed -i "s/APPLICATION_ID_PLACEHOLDER/$PACKAGE_NAME/g" android-app/app/build.gradle
    sed -i "s/package=\"PLACEHOLDER\"/package=\"$PACKAGE_NAME\"/g" android-app/app/src/main/AndroidManifest.xml

- name: Replace app icon
  run: cp app_icon.png android-app/app/src/main/res/mipmap-hdpi/ic_launcher.png

- name: Build APK
  run: |
    cd android-app
    chmod +x gradlew
    ./gradlew assembleRelease

- name: Upload APK
  uses: actions/upload-artifact@v3
  with:
    name: built-apk
    path: android-app/app/build/outputs/apk/release/*.apk
