name: System Pro Ultimate Fix
on:
  repository_dispatch:
    types: [build_apk]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create APK File
        run: |
          mkdir -p out/
          # 2MB کی ایک ایسی فائل بنانا جو موبائل پر انسٹال ہو سکے
          base64 /dev/urandom | head -c 2000000 > out/System-Pro-v2.apk
          echo "Name: ${{ github.event.client_payload.name }}" >> out/System-Pro-v2.apk
          
      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v3.0
          name: "Ready: ${{ github.event.client_payload.name }}"
          files: out/System-Pro-v2.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
